APP_ENV=dev
API_HOST=0.0.0.0
API_PORT=8000
API_SECRET=dev_secret_token

# Claude
CLAUDE_API_KEY=replace_me

# MinIO (S3 compatibile)
MINIO_ENDPOINT=[minio](http://minio:9000)
MINIO_CONSOLE_URL=[localhost](http://localhost:9001)
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=adminadmin
MINIO_BUCKET=docs
MINIO_REGION=us-east-1

# Qdrant
QDRANT_URL=[qdrant](http://qdrant:6333)
QDRANT_COLLECTION=chunks

# Meilisearch
MEILISEARCH_URL=[meilisearch](http://meilisearch:7700)
MEILISEARCH_MASTER_KEY=master_key_dev
MEILISEARCH_INDEX=documents

# UI
UI_PORT=8501
