.env
*.env
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
.idea/
.vscode/
.DS_Store
dist/
build/
.coverage
htmlcov/
node_modules/
data/
logs/
.terraform/
.ipynb_checkpoints
docker-data/
infra/compose/bge-m3-model/
.streamlit/
.cache/
.python-version